/*  z-index

header: 1000;
header-filler: 999;

*/

html, body {
	font-size: 15px;
	font-family: 'Jura', sans-serif;
	/*font-family: 'Quicksand', sans-serif;*/
	/*font-family: 'Oswald', sans-serif;*/
	margin: 0;
}

h1 {
	margin: 1.75em 0 0;
	font-size: 2.5em;
	text-align: center;
}

.info {
	position: relative;
	margin: 1em 0 0;
	font-size: 1.9em;
	text-align: justify;
	text-justify: distribute;
	line-height: 1.2em;
}

@media screen and (max-width: 600px) {
	.info {
		margin: 1.5em .5em 2em;
		text-align: initial;
	}
}

/*  ---------------HEADER and MAIN MENU---------------  */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	/*background-color: rgba(0,0,0,.7);*/
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );

	transition: .5s background-color;
}

.header-filler {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	background-color: black;
	height: 100%;
	width: 100%;
}

.main-menu {
	top: 0;
	width: 90%;
	/*max-height: 200px;*/
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	font-size: 1rem;
}

.main-menu:hover .main-menu-item:not(.logo-container) {
	filter: blur(2px);
}

.logo {
	max-width: 90%;
	max-height: 90%;
	height: 6.5em;
	padding: 0;
	vertical-align: middle;
	transform: scale(1);
}

.logo:hover {
	transform: scale(1.1) !important;
}

.logo path {
	stroke: white;
	transition: .5s all;
}

.logo .circle {
	animation: logo-animation 4s linear infinite;
	/*stroke-dasharray: 300, 10;*/
}

.logo path:not(.circle) {
	/*fill: white;*/
	fill: url(#linear);
}

/*.logo:hover path {
	stroke: #920000;
}

.logo:hover path:not(.circle) {
	fill: #920000;
}

.logo:hover .circle {
	stroke: white !important;
	animation: none;
}*/

@keyframes logo-animation {
	0% { 
		stroke-width: 6px;	
	}
	50% { 
		stroke-width: 15px; 
	}
	100% { 
		stroke-width: 6px;
	}
}

.main-menu-item {
	display: inline-block;
	position: relative;
	width: 5.4em;
	height: 4em;
	line-height: 4em;
	text-decoration: none;
	font-size: 2em;
	color: white !important;
	padding: 0 1.5em;
	opacity: 0;
	cursor: pointer;

	transition: letter-spacing .5s, underline .5s, color .3s, width .5s, font-size .5s, padding .5s, transform .2s, filter .6s;
	letter-spacing: .1em;
}

.main-menu-item:not(.logo-container)::after {
	content: "";
	display: inline-block;
	position: absolute;
	opacity: 0;
	left: 0;
	right: 0;
	bottom: .5em;
	width: 0;
	height: 2px;
	background-color: #a0a0a0;
	transition: .2s all ease;
	margin: 0 auto;
}

.main-menu-item:hover, 
.fp-viewing-about .main-menu-item.about, 
.fp-viewing-work .main-menu-item.work, 
.fp-viewing-blog .main-menu-item.blog, 
.fp-viewing-contact .main-menu-item.contact {
	letter-spacing: .2em;
	/*color: #a0a0a0 !important;*/
}

.main-menu-item:hover {
	filter: blur(0) !important;
}

.main-menu-item:not(.logo-container):hover::after,
.fp-viewing-about .main-menu-item.about::after, 
.fp-viewing-work .main-menu-item.work::after, 
.fp-viewing-blog .main-menu-item.blog::after, 
.fp-viewing-contact .main-menu-item.contact::after {
	bottom: .95em;
	opacity: 1;
	width: 40%;
}

.main-menu-item:active {
	transform: scale(1.1);
	/*color: #4e4e4e !important;*/
}

.main-menu-item:not(.logo-container):active::after {
	background-color: #4e4e4e;
}

.logo-container {
	width: auto;
	padding: 0 !important;
}

@media screen and (max-width: 1500px) {
	.main-menu {
		font-size: .9em;
	}

    .main-menu-item {
    	width: 5.1em;
    	padding: 0 1em;
    }
}

@media screen and (max-width: 1120px) {
	.main-menu {
		font-size: .75em;
	}

	.main-menu-item {
    	width: 4.7em;
    	padding: 0 .8em;
    }
}

@media screen and (max-width: 790px) {
	.main-menu-item {
    	width: 3.7em;
    	padding: 0 .5em;
    }
}

@media screen and (max-width: 600px) {
	.header {
		display: none;
	}
}


/*  ---------------MOBILE MENU---------------  */
.mobile-menu {
	display: none;
	opacity: .3;
	pointer-events: none;
	position: fixed;
	top: 0;
	right: -100%;
	z-index: 10000;
	width: 60vw;
	height: 100vh;
	border: 0;
	
	background-color: #171819;
	transition: .5s all;
}

.mobile-menu.active {
	right: 0;
	opacity: 1;
	pointer-events: initial;
	border-left: 1px solid black;
}

.mobile-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mobile-menu-item {
	position: relative;
	box-sizing: border-box;
	/*height: 0;*/
	height: 11vh;
	line-height: 11vh;
	font-size: 6vmin;
	text-align: right;
	font-weight: 100;
	padding-right: 6vw;
	letter-spacing: .25em;
	cursor: pointer !important;
	color: #dadada;
	text-transform: uppercase;

	transition: .45s all, .2s letter-spacing;
}

/*.mobile-menu.active .mobile-menu-item {
	height: 11vh;
}*/

.mobile-menu-item.close {
	border-top: 2px solid #7a7a7a;
}

.mobile-menu-item:hover {
	letter-spacing: .3em;
}

.mobile-menu-logo {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	margin: -.2em .8em 0 0;
}

.mobile-menu-item.close svg {
	width: 1.1em;
	position: relative;
	top: .23em;
	left: -.3em;
}

.mobile-menu-item.close g {
	fill: #dadada !important;
}

.mobile-menu-item a {
	display: inline-block;
	width: 100%;
	color: #dadada !important;
	text-decoration: none !important;
}

.mobile-menu-trigger {
	display: none;
	position: fixed;
	top: 1em;
	right: 3vw;
	z-index: 9999;
	width: 4em;
	height: 4em;
	cursor: pointer;
	background-color: rgba(0,0,0,.35);
	border-radius: 50%;

	transition: .5s all;
}

@media screen and (max-width: 600px) {
	.mobile-menu, .mobile-menu-trigger {
		display: block;
	}
}

.mobile-menu-item .social-icon {
	width: 1.75em;
	margin: .2em;
}

.mobile-menu-item .social-icon:nth-of-type(1) {
	margin-top: 1em;
}


/*@media screen and (max-width: 400px) {
	.mobile-menu-trigger {
		width: 4.5em;
		height: 4.5em;
	}
}*/

/* Burger Icon */
.burger-icon {
	width: 65%;
	/*height: 20vw;*/
	position: relative;
	top: 1em;
	margin: 0 auto;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
}

.burger-icon span, .burger-icon span::before, .burger-icon span::after {
	display: block;
	position: absolute;
	height: .2em;
	width: 100%;
	background: black;
	/*border-radius: 1em;*/
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .4s ease-in-out;
}

/*@media screen and (max-width: 400px) {
	.burger-icon {
		top: .8em;
	}
	.burger-icon span {
		height: .4em;
	}
}*/

.burger-icon span:nth-child(1) {
	top: 0;
}

.burger-icon span:nth-child(2),.burger-icon span:nth-child(3) {
	top: .85em;
}

.burger-icon span:nth-child(4) {
	top: 1.7em;
}

.mobile-menu-trigger.active {
	right: 75vw;
	background-color: rgba(0,0,0,.7);
	transition: .5s all;
}

.mobile-menu-trigger.active .burger-icon span {
	background: gray;
}

.mobile-menu-trigger.active .burger-icon span:nth-child(1) {
	top: 1em;
	width: 0%;
	left: 50%;
}

.mobile-menu-trigger.active .burger-icon span:nth-child(2) {
	transform: rotate(45deg);
}

.mobile-menu-trigger.active .burger-icon span:nth-child(3) {
	transform: rotate(-45deg);
}

.mobile-menu-trigger.active .burger-icon span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}


/*  --------------- SOCIAL MEDIA ICONS---------------  */
.main-menu-social-icons {
	position: fixed;
	z-index: 10000;
	top: .5em;
	right: .5em;
}

.main-menu-social-icons .social-icon {
	width: 1.5em;
	margin: .25em;
	cursor: pointer;
}

.social-icon {
	opacity: .5;
	transition: .3s all;
}

.social-icon:hover {
	opacity: 1;
	transform: scale(1.12);
}


/*  ---------------PAGE SLIDES/SECTIONS---------------  */

#fullpage {
	opacity: 0;
	overflow: hidden;
}

.page-slide {
	min-height: 100vh;
}

/* When main menu is showing, add padding to all slides except first */
@media screen and (min-width: 600px) {
	.page-slide:not(.slide-1) {
		padding-top: 3.25em;
	}
}

.slide2 {
	background-color: #fdfdfe;
}

.slide3 {
	background-color: #9cc8d1;
}

.slide4 {
	background-color: #cecdbd;
}

.slide5 {
	background-color: #b2c7d2;
}

.dark-border {
	width: 100vw;
	height: 100vh;
	background: url(../images/top-border.png) center no-repeat;
	background-size: 100vw 100vh;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}

.in-slide-container {
	width: 80vw;
	max-width: 800px;
	margin: 0 auto;
}

@media screen and (max-width: 800px) {
	.in-slide-container {
		width: 92vw;
	}
}


/*  ---------------SLIDE1 -- TOP---------------  */

/*Although there are no divs in slide 1 in the HTML, the Fullpage.js is making one, so this actually does something*/
.slide1 div {
	position: absolute;
	top: 0;
	left: 0;
}

.main-scene, .main-scene .layer {
	width: 100%;
	height: 100%;
	max-height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.main-scene {
	z-index: 1;
}

.slide1-1 {
	background: url(../images/top-circle-logo.png) center no-repeat;
	background-size: 65vw;
	z-index: 11;
}


@media screen and (max-width: 1000px) {
	.slide1-1 {
		background-size: 120vmin;
	}
}

.slide1-2 {
	background: url(../images/top-mountain.gif) no-repeat;
	background-size: 110vw auto;
	background-position: bottom;
	left: -5% !important;
	top: .5% !important;
	width: 110% !important;
	z-index: 9;
}

@media screen and (max-width: 600px) {
	.slide1-2 {
		background-size: 250vw auto;
	}
}

.slide1-2-birds {
	z-index: 10;
}

.slide1-3 {
	/*background: url(../images/top-smoke.png) bottom repeat-x;
	background-size: 110vw auto;
	background-position: 100% 100%;*/
	bottom: 0% !important;
	left: -5% !important;
	width: 110% !important;
	z-index: 20;

	overflow: visible !important;
}

.main-scene .slide1-3 img {
	position: absolute;
	bottom: -5% !important;
	left: -5% !important;
	width: 110% !important;
	z-index: 20;
}

.slide1-4 {
	background: url(../images/top-sky.jpg) top;
	background-size: 100vw 100vh;
	z-index: 7;	
}

@media screen and (max-width: 1200px) {
	.slide1-4 {
		background-size: auto 100vh;
		background-position: center;
		max-width: 1200px;
	}
}

@media screen and (orientation: landscape) {
	.slide1-4 {
		background-size: 100vw 100vh;
	}
}

.bird1 {
	width: 1.5vw;
	position: absolute;
	bottom: 45vh;
	left: 15vw;
}

.bird2 {
	width: 1vw;
	position: absolute;
	bottom: 55vh;
	right: 55vw;
}

.bird3 {
	width: 1.1vw;
	position: absolute;
	bottom: 65vh;
	left: 25vw;
}

@media screen and (max-width: 1000px) {
	.bird1 {
		width: 2.4vw;
	}

	.bird2 {
		width: 2.1vw;
	}

	.bird3 {
		width: 2.3vw;
	}
}

.more-arrow {
	display: block;
	width: 100%;
	z-index: 101;
	position: absolute;
	bottom: 1.2em;
	text-align: center;
	cursor: pointer;
	pointer-events: none;

	animation: bounce .4s infinite alternate;
}

.more-arrow svg {
	width: 20vw;
	max-width: 100px;
	pointer-events: initial;
}

@keyframes bounce {
	from {
		transform: translateY(10px);
	}
	to {
		transform: translateY(0);
	}
}


/*  ---------------SLIDE2 -- ABOUT---------------  */
@media screen and (max-width: 1300px) {
	.about.info {
		margin-bottom: 2em;
	}
}

.scene-trigger {
	width: 100%;
	height: 0px;
	background-color: red;
	position: relative;
	top: 30%;
}

.profile-image-holder {
	width: 100%;
	position: relative;
	text-align: center;
	vertical-align: middle;
	overflow: visible;
	margin: 7em 0 9em;
}

@media screen and (max-width: 600px) {
	.profile-image-holder {
		margin-bottom: 9em;
	}
}

.profile-image {
	display: inline-block;
	vertical-align: middle;
	pointer-events: none;
	position: relative;
}

.profile-image img {
	position: relative;
	vertical-align: middle;
	width: 460px;
	max-width: 460px;
	pointer-events: auto;
	cursor: pointer;
	filter: grayscale(.75);

	transition: .5s all;
}

.profile-image img:hover {
	opacity: .6;
	transform: scale(1.02);
}

.profile-image.kelly {
	margin-right: -13%;
}

.profile-image.eriya {
	margin-left: -13%;
}

.profile-image.kelly img {
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.profile-image.eriya img {
	-webkit-clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
	clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.name-label {
	display: inline-block;
	position: absolute;
	font-size: 3em;
	margin: 0;

	pointer-events: initial;
	cursor: pointer;
	transition: .3s all;
}

.name-label.kelly {
	left: 0;
	bottom: 0;
}

.name-label.eriya {
	right: 0;
}


/*  Hover over profile image or name --> trigger name animation   */
.profile-image.kelly img:hover + .name-label, .profile-image.kelly .name-label:hover {
	font-size: 3.5em;
	text-shadow: 5px 0px 2px rgba(150, 150, 150, 1);
	left: -.5em;
}

.profile-image.eriya img:hover + .name-label, .profile-image.eriya .name-label:hover {
	font-size: 3.5em;
	text-shadow: -5px 0px 2px rgba(150, 150, 150, 1);
	right: -.5em;
}

.profile-detail {
	position: absolute;
	opacity: 0;
	font-size: 1.3em;
	font-weight: 900;
	transform: rotateX(90deg);

	transition: .3s all;
}

.profile-detail.kelly {
	left: 0;
}

.profile-detail.eriya {
	right: -1em;
	top: 2.75em;
}

/*  Hover over profile image or name --> trigger detail animation   */
.profile-image.kelly img:hover ~ .profile-detail, .profile-image.kelly .name-label:hover ~ .profile-detail {
	left: -1.15em;
	opacity: 1;
	transform: rotateX(0deg);
}

.profile-image.eriya img:hover ~ .profile-detail, .profile-image.eriya .name-label:hover ~ .profile-detail {
	right: -2.5em;
	opacity: 1;
	transform: rotateX(0deg);
}

@media screen and (max-width: 1800px) {
	.profile-image img {
		width: 430px;
	}
}

@media screen and (max-width: 1000px) {
	.name-label.kelly {
		top: -1.2em;
	}

	.name-label.eriya {
		bottom: -1.2em;
	}

	.profile-image.kelly img:hover + .name-label, .profile-image.kelly .name-label:hover {
		text-shadow: 0 -5px 2px rgba(150, 150, 150, 1);
		top: -1.5em;
		left: -.5em;
	}

	.profile-image.eriya img:hover + .name-label, .profile-image.eriya .name-label:hover {
		text-shadow: 0 5px 2px rgba(150, 150, 150, 1);
		bottom: -1.5em;
		right: -.5em;
	}

	.profile-detail.kelly {
		left: 0;
		top: 0;
	}

	.profile-detail.eriya {
		right: 0;
		bottom: -4.95em;
		top: initial;
	}

	.profile-image.kelly img:hover ~ .profile-detail, .profile-image.kelly .name-label:hover ~ .profile-detail {
		left: -1em;
		top: -1.5em;
		opacity: 1;
		transform: rotateX(0deg);
	}

	.profile-image.eriya img:hover ~ .profile-detail, .profile-image.eriya .name-label:hover ~ .profile-detail {
		right: -1.4em;
		opacity: 1;
		transform: rotateX(0deg);
	}
}

@media screen and (max-width: 900px) {
	.profile-image.kelly {
		margin-right: -11%;
	}

	.profile-image.eriya {
		margin-left: -11%;
	}

	.profile-image img {
		width: 45vw;
	}
}

.profile-bio h2 {
	font-size: 2em;
}

.profile-bio h3 {
	font-size: 1.6em;
}

.profile-bio-list > li {
	font-size: 1.4em;
	padding: .4em;
}

.profile-social-links {
	list-style: none;
	padding: 1em 0 0;
}

.profile-social-links li {
	display: inline-block;
}

.profile-social-links img {
	width: 12vw;
	max-width: 85px;
	cursor: pointer;
	padding-right: .75em;
	opacity: .8;

	transition: .3s all;
}

.profile-social-links img:hover {
	opacity: 1;
}

@media screen and (max-width: 600px) {
	.profile-bio-list > li {
		font-size: 1.1em;
		line-height: 1.2em;
		padding: .2em;
	}
}



/*  ---------------SLIDE3 -- PAST WORK/PROJECTS---------------  */
.project-list {
	display: block;
	margin-top: 2em;
	padding: 0;
	list-style: none;
	text-align: center;
}

.project-li {
	display: inline-block;
	position: relative;
	width: 14em;
	height: 8em;
	border: 2px solid black;
	/*border-radius: 8px;*/
	box-shadow: 2px 2px 3px 0px black;
	margin: 8px;
	overflow: hidden;
}

.project-li img {
	width: 125%;
	position: relative;
	left: -15%;
	top: -15%;
	transition: all .3s;
	transform-origin: center center;
	transform-style: preserve-3d;
	cursor: pointer;
}

.project-li:hover img {
	transform: scale(1.08) rotate(9deg);
	filter: grayscale(.9);
}

.project-title {
	position: absolute;
	width: 100%;
	padding: .1em 0;
	top: 1em;
	text-align: center;
	font-size: 2em;
	color: white;
	font-weight: bolder;
	background-color: rgba(0,0,0,.6);
	pointer-events: none;

	transform: translateY(7em);
	transition: all .3s;
}

.project-li:hover .project-title {
	transform: translateY(0);
}

.sample-page-image {
	max-width: 100%;
	margin: 2em 0;
}

/*  ---------------SLIDE4 -- BLOG---------------  */
.slide4 .in-slide-container {
	max-width: 800px;
}

.coming-soon.info {
	margin: .25em auto;
	text-align: center;
	font-size: 2.25em;
	margin-bottom: .75em;
}

.coming-soon-box {
	margin-bottom: 1em;
	filter: blur(2px);
	font-size: 1.2em;
	border: 1px solid black;
	padding: 1em;
}

@media screen and (max-width: 600px) {
	.coming-soon-box {
		margin: 0 auto 1em;
		width: 80vw;
	}
}

.coming-soon-box .date {
	font-style: italic;
	font-weight: bold;
}

/*  ---------------SLIDE5 -- CONTACT---------------  */
@media screen and (max-width: 600px) {
	.in-slide-container.contact {
		width: 90vw;
	}
}

.contact.info, .contact-form {
	max-width: 600px;
	margin: 1em auto;
}

.contact-form * {
	box-sizing: border-box;
	transition: .3s all;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	font-family: initial;
	font-size: 1.15em;
    width: 100%;
    box-shadow: inset 0 1px 2px #ddd, 0 1px 0 #fff;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 auto 5px;
    padding: 10px;
    border-radius: 5px;
}

.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover,
.contact-form button[type="submit"]:hover {
    box-shadow: inset 1px 1px 1px black, 1px 1px 1px black;
    transform: scale(1.01);
    outline: none;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus,
.contact-form button[type="submit"]:focus {
    box-shadow: inset 2px 2px 1px black, 2px 2px 1px black;
    transform: scale(1.02);
    outline: none;
}

.contact-form button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #991d57;
    background-image: linear-gradient(to top, #142640 0%, #192f50 52%);
    color: #fff;
	font-size: 1.15em;    
    margin: .5em 0;
    padding: 10px;
    border-radius: 5px;
}

.contact-form label {
	cursor: pointer;
	display: inline-block;
	color: #192f50;
	font-size: 1.4em;
	font-weight: bolder;
	margin: .6em 0 .3em;
}

.contact-form-response {
	font-size: 1.8em;
	text-align: center;
}

.required-text {
	font-size: .75em;
	opacity: .8;
}


/*  ---------------OTHER ELEMENTS---------------  */
#fp-nav ul li .fp-tooltip {
	color: black;
	font-size: 1.3em;
	font-weight: bolder;
	font-family: 'Jura', sans-serif;
	top: -0.3em;
}

/*@media screen and (max-width: 600px) {
	#fp-nav {
		top: 15%;
	}

	#fp-nav ul li .active + .fp-tooltip {
		opacity: 1;
		width: auto;
	}
}*/

#fp-nav ul li .active + .fp-tooltip {
	opacity: 1;
	width: auto;
}

.placeholder {
	text-align: center;
	font-size: 3em;
}

body.noScroll {
	overflow: hidden !important;
}

.loading-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 100000;
	background-color: black;
}

.loading-container h1 {
	display: block;
	line-height: 100vh;
	text-align: center;
	color: white;

	animation: loading 5s linear infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
		letter-spacing: .3em;
	}
	50% {
		letter-spacing: .8em;
	}
	100% {
		/*transform: rotate(360deg);*/
		letter-spacing: .3em;
	}
}

.modal {
	position: fixed;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
	top: 11.5vh;
	width: 98vw;
	height: calc(98vh - 80px);
	
	left: 1vw;
	top: calc(80px + 1vh);

	margin: 0 auto;
	background-color: rgba( 0, 0, 0, .95 );
	border: .4em solid black;
	border-radius: 1em;

	z-index: 100001;
	opacity: 0;
	pointer-events: none;

	transition: .3s all;
}

.modal.active {
	opacity: 1;
	pointer-events: initial;
}

.modal .close-x {
	width: 4vw;
	position: absolute;
	top: .1em;
	right: .1em;
	transition: .3s all;
}

.modal .close-x:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
	.modal .close-x {
		width: 7vw;
	}
}

@media screen and (max-width: 800px) {
	.modal .close-x {
		width: 12vw;
	}
}

@media screen and (max-width: 600px) {
	.modal {
		top: 1vh;
		height: 98vh;
	}
}

.modal-inner {
	width: 90%;
	max-width: 1000px;
	margin: 2em auto;

	color: white;
}