/*  z-index

header: 1000;
header-filler: 999;

*/

html, body {
	font-size: 15px;
	font-family: 'Jura', sans-serif;
	margin: 0;
}


/*  ---------------HEADER and MAIN MENU---------------  */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	/*background-color: rgba(0,0,0,.7);*/
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );

	transition: .5s background-color;
}

.header-filler {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	background-color: black;
	height: 100%;
	width: 100%;
}

.main-menu {
	top: 0;
	width: 90%;
	/*max-height: 200px;*/
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	font-size: 1rem;
}

.logo {
	max-width: 90%;
	max-height: 90%;
	height: 7em;
	padding: 0;
	vertical-align: middle;
	transform: scale(1);
}

.logo:hover {
	transform: scale(1.1) !important;
}

.logo path {
	stroke: white;
	transition: .5s all;
}

.logo path.circle {
	animation: logo-animation 6s linear infinite;
	/*stroke-dasharray: 300, 10;*/
}

.logo path:not(.circle) {
	fill: white;
}

.logo:hover path {
	/* stroke: #a8c9d7; */
	stroke: #920000;
}

.logo:hover path:not(.circle) {
	/* fill: #a8c9d7; */
	fill: #920000;
}

.logo:hover path.circle {
	/* fill: #a8c9d7; */
	stroke: white !important;
	animation: none;
}

@keyframes logo-animation {
	0% { stroke: red; }
	25% { stroke: gray; }
	50% { stroke: blue; }
	75% { stroke: gray; }
	100% { stroke: red; }
}

.main-menu-item {
	display: inline-block;
	width: 5.4em;
	height: 4em;
	line-height: 4em;
	text-decoration: none;
	font-size: 2em;
	color: white !important;
	padding: 0 1.5em;
	opacity: 0;

	/*transition: all .5s;*/
	transition: letter-spacing .5s, underline .5s, color .5s, width .5s, font-size .5s, padding .5s;
	letter-spacing: .1em;
}

.logo-container {
	width: auto;
	padding: 0 !important;
}

.main-menu-item:hover {
	letter-spacing: .2em;
	text-decoration: underline;
	color: #a8c9d7 !important;
}

@media screen and (max-width: 1450px) {
	.main-menu {
		font-size: .9em;
	}

    .main-menu-item {
    	width: 5.1em;
    	padding: 0 1em;
    }
}

@media screen and (max-width: 1120px) {
	.main-menu {
		font-size: .75em;
	}

	.main-menu-item {
    	width: 4.7em;
    	padding: 0 .8em;
    }
}

@media screen and (max-width: 790px) {
	.main-menu-item {
    	width: 3.7em;
    	padding: 0 .5em;
    }
}

@media screen and (max-width: 600px) {
	.header {
		display: none;
	}
}


/*  ---------------MOBILE MENU---------------  */
.mobile-menu {
	display: none;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: -100%;
	right: 0;
	z-index: 10000;
	width: 100%;
	
	background-color: gray;
	background-image:
		linear-gradient(
			to bottom right,
			gray, #313131
		);

	transition: .5s all;
}

.mobile-menu.active {
	top: 0;
	opacity: 1;
	pointer-events: initial;
}

.mobile-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mobile-menu-item {
	font-size: 3em;
	text-align: center;
	padding: .3em;
	font-weight: bold;
	cursor: pointer !important;

	transition: .3s all;
}

.mobile-menu-item:not(:last-of-type) {
	border-bottom: 2px solid black;
}

.mobile-menu-item:hover {
	transform: scale(1.1);
}

.mobile-menu-item.close {
}

.mobile-menu-item.close svg {
	width: .9em;
	position: relative;
	top: .16em;
}

.mobile-menu-item a {
	display: inline-block;
	width: 100%;
	color: black !important;
	text-decoration: none !important;
}

.mobile-menu-trigger {
	display: none;
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 9999;
	width: 20vw;
	height: 20vw;
	cursor: pointer;
	background-color: gray;
}

@media screen and (max-width: 600px) {
	.mobile-menu, .mobile-menu-trigger {
		display: block;
	}
}

/*  ---------------PAGE SLIDES/SECTIONS---------------  */

#fullpage {
	opacity: 0;
	overflow: hidden;
}

.page-slide {
	min-height: 100vh;
}

.slide2 {
	background-color: green;
}

.slide3 {
	background-color: white;
}

.slide4 {
	background-color: blue;
}

.slide4 {
	background-color: red;
}

.dark-border {
	width: 100vw;
	height: 100vh;
	background: url(../images/back-border.png) center no-repeat;
	background-size: 100vw 100vh;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}

.in-slide-container {
	width: 80vw;
	max-width: 1200px;
	margin: 0 auto;
}

@media screen and (max-width: 800px) {
	.in-slide-container {
		width: 95vw;
	}
}


/*  ---------------SLIDE1 -- TOP---------------  */

/*Although there are no divs in slide 1 in the HTML, the Fullpage.js is making one, so this actually does something*/
.slide1 div {
	position: absolute;
	top: 0;
	left: 0;
}

.main-scene, .main-scene .layer {
	width: 100%;
	height: 100%;
	max-height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.main-scene {
	z-index: 1;
}

.slide1-1 {
	background: url(../images/back-logo.png) center no-repeat;
	background-size: 70vw;
	z-index: 11;
}


@media screen and (max-width: 1000px) {
	.slide1-1 {
		background-size: 120vw;
	}
}

.slide1-2 {
	background: url(../images/back-big-mountain.gif) no-repeat;
	background-size: 110vw auto;
	background-position: bottom;
	left: -5% !important;
	top: .5% !important;
	width: 110% !important;
	z-index: 9;

	/*animation: bobbing 5s infinite alternate;*/
}

@keyframes bobbing {
	from {
		background-position: 0 1vh;
	}
	to {
		background-position: 0 0;
	}
}


.slide1-2-birds {
	z-index: 10;
}

.slide1-3 {
	background: url(../images/back-little-mountain.png) center no-repeat;
	background-size: 110vw auto;
	background-position: 100% 100%;
	top: 0% !important;
	left: -5% !important;
	width: 110% !important;
	z-index: 8;
}

.slide1-4 {
	background: url(../images/back-sky.jpg) top;
	background-size: 100vw 100vh;
	z-index: 7;	
}

@media screen and (max-width: 1200px) {
	.slide1-4 {
		background-size: auto 100vh;
		background-position: center;
		max-width: 1200px;
	}
}

.bird1 {
	width: 1.5vw;
	position: absolute;
	bottom: 45%;
	left: 15%;
}

.bird2 {
	width: 1vw;
	position: absolute;
	bottom: 55%;
	right: 55%;
}

.bird3 {
	width: 1.1vw;
	position: absolute;
	bottom: 65%;
	left: 25%;
}

@media screen and (max-width: 1000px) {
	.bird1 {
		width: 2.4vw;
	}

	.bird2 {
		width: 2.1vw;
	}

	.bird3 {
		width: 2.3vw;
	}
}

.more-arrow {
	display: block;
	width: 100%;
	z-index: 101;
	position: absolute;
	bottom: 25px;
	text-align: center;
	cursor: pointer;

	animation: bounce .4s infinite alternate;
}

.more-arrow svg {
	width: 20vw;
	max-width: 100px;
}

@keyframes bounce {
	from {
		transform: translateY(10px);
	}
	to {
		transform: translateY(0);
	}
}



/*  ---------------SLIDE2 -- PAST WORK/PROJECTS---------------  */
.project-list {
	display: block;
	width: 90%;
	margin: 2em auto;
	padding: 0;
	list-style: none;
	text-align: center;
}

.project-li {
	display: inline-block;
	width: 20%;
	max-width: 15em;
	min-width: 8em;
	height: 8em;
	border: 4px solid black;
	border-radius: 8px;
	box-shadow: 4px 4px 5px 0px black;
	margin: 8px;

	transition: .3s all;
}

.project-li:hover {
	transform: scale(1.05);
}

/*  ---------------SLIDE3 -- ABOUT---------------  */
.slide3 h1 {
	position: relative;
	top: -1.5em;
	left: 10vw;
	font-size: 3em;
}

.trigger {
	width: 100%;
	height: 0px;
	background-color: red;
	position: relative;
	top: 40%;
}

.profile-image-holder {
	width: 100%;
	position: relative;
	text-align: center;
	vertical-align: middle;
	overflow: visible;
}

.profile-image {
	display: inline-block;
	vertical-align: middle;
	pointer-events: none;
}

.profile-image img {
	position: relative;
	vertical-align: middle;
	width: 25vw;
	pointer-events: auto;

	transition: .5s all;
}

.profile-image img:hover {
	opacity: .6;
	transform: scale(1.05);
}

.profile-image.kelly {
	margin-right: -6%;
}

.profile-image.eriya {
	margin-left: -6%;
}

.profile-image.kelly img {
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.profile-image.eriya img {
	-webkit-clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
	clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.name-label {
	display: inline-block;
	position: absolute;
	font-size: 3em;

	transition: .3s all;
}

.name-label.kelly {
	left: 0;
	bottom: 0;
}

.name-label.eriya {
	right: 0;
}

.profile-image.kelly img:hover + .name-label {
	font-size: 3.5em;
	text-shadow: 5px 0px 2px rgba(150, 150, 150, 1);
	left: -.5em;
}

.profile-image.eriya img:hover + .name-label {
	font-size: 3.5em;
	text-shadow: -5px 0px 2px rgba(150, 150, 150, 1);
	right: -.5em;
}

.profile-detail {
	position: absolute;
	opacity: 0;
	font-size: 1.3em;
	font-weight: 900;
	transform: rotateX(90deg);

	transition: .3s all;
}

.profile-detail.kelly {
	left: 0;
}

.profile-detail.eriya {
	right: -1em;
	top: 2.75em;
}

.profile-image.kelly img:hover ~ .profile-detail {
	left: -1.15em;
	opacity: 1;
	transform: rotateX(0deg);
}

.profile-image.eriya img:hover ~ .profile-detail {
	right: -2.5em;
	opacity: 1;
	transform: rotateX(0deg);
}

@media screen and (max-width: 1400px) {
	.profile-image img {
		width: 30vw;
	}
}

@media screen and (max-width: 1300px) {
	.profile-image img {
		width: 35vw;
	}

	.name-label.kelly {
		top: -1.2em;
	}

	.name-label.eriya {
		bottom: -1.2em;
	}

	.profile-image.kelly img:hover + .name-label {
		text-shadow: 0 -5px 2px rgba(150, 150, 150, 1);
		top: -1.5em;
		left: -.5em;
	}

	.profile-image.eriya img:hover + .name-label {
		text-shadow: 0 5px 2px rgba(150, 150, 150, 1);
		bottom: -1.5em;
		right: -.5em;
	}

	.profile-detail.kelly {
		left: 0;
		top: 0;
	}

	.profile-detail.eriya {
		right: 0;
		bottom: -4.95em;
		top: initial;
	}

	.profile-image.kelly img:hover ~ .profile-detail {
		left: -1em;
		top: -1.5em;
		opacity: 1;
		transform: rotateX(0deg);
	}

	.profile-image.eriya img:hover ~ .profile-detail {
		right: -1.4em;
		opacity: 1;
		transform: rotateX(0deg);
	}
}

@media screen and (max-width: 800px) {
	.profile-image.kelly {
		margin-right: -10%;
	}

	.profile-image.eriya {
		margin-left: -10%;
	}

	.profile-image img {
		width: 45vw;
	}
}

.profile-bio {
	position: fixed;
	box-sizing: border-box;
	top: 11.5vh;
	width: 98vw;
	height: calc(98vh - 80px);
	
	left: 1vw;
	top: calc(80px + 1vh);

	margin: 0 auto;
	background-color: rgba( 0, 0, 0, .95 );
	border: .4em solid black;
	border-radius: 1em;

	z-index: 100001;
	opacity: 0;
	pointer-events: none;

	transition: .3s all;
}

.profile-bio.active {
	opacity: 1;
	pointer-events: initial;
}

.profile-bio .close-x {
	width: 4vw;
	position: absolute;
	top: .1em;
	right: .1em;
	transition: .3s all;
}

.profile-bio .close-x:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
	.profile-bio .close-x {
		width: 7vw;
	}
}

@media screen and (max-width: 800px) {
	.profile-bio .close-x {
		width: 12vw;
	}
}

@media screen and (max-width: 600px) {
	.profile-bio {
		top: 1vh;
		height: 98vh;
	}
}


/*  ---------------SLIDE4 -- FEED---------------  */
.slide4 .in-slide-container {
	max-width: 1100px;
}

.feed {
	box-sizing: border-box;
	border: 3px solid black;
	height: 50vh;
	font-size: 4em;
}

.fb-placeholder {
	float: left;
	width: 55%;
	margin-right: 5%;
	background-color: #3b5998;
}

.twitter-placeholder {
	float: left;
	width: 40%;
	background-color: #1da1f2;
}

/*  ---------------OTHER ELEMENTS---------------  */
#fp-nav ul li .fp-tooltip {
	color: black;
	font-size: 1.3em;
	font-weight: bolder;
	font-family: 'Jura', sans-serif;
	top: -0.3em;
}

/*@media screen and (max-width: 600px) {
	#fp-nav {
		top: 15%;
	}

	#fp-nav ul li .active + .fp-tooltip {
		opacity: 1;
		width: auto;
	}
}*/

#fp-nav ul li .active + .fp-tooltip {
	opacity: 1;
	width: auto;
}

.placeholder {
	text-align: center;
	font-size: 3em;
}

body.noScroll {
	overflow: hidden !important;
}