html, body {
	font-size: 15px;
	font-family: 'Jura', sans-serif;
	margin: 0;
}

body.no-scroll {
	overflow: hidden !important;
}

h1 {
	margin: 1em 0 0;
	font-size: 2.5em;
	text-align: center;
}

.info {
	position: relative;
	margin: 1em 0 0;
	text-align: justify;
	text-justify: distribute;
	
	@media screen and (max-width: 600px) {
		margin: 1.5em .5em 2em;
		text-align: initial;
	}
}

@import "shared.scss";
@import "header.scss";
@import "mobile-menu.scss";
@import "language-chooser.scss";
@import "modal.scss";
@import "slide1.scss";
@import "slide2.scss";
@import "slide3.scss";
@import "slide4.scss";
@import "slide5.scss";

.no-js #fullpage {
	opacity: 1 !important;
}

.no-js .slide1 .layer {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}


/* Target IE10 and 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.profile-image:after { 
		background: rgba(0,0,0,0); 
	}

	.continue-triangle {
		top: 2em;
	}

	.modal {
		position: fixed;
	}

	.modal .close-x {
		top: -4em;
	}

}