html, body {
	font-size: 15px;
	font-family: 'Jura', sans-serif;
	margin: 0;
}


/*  HEADER and MAIN MENU  */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.main-menu {
	top: 0;
	width: 90%;
	max-height: 200px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

.logo {
	height: 125px;
	vertical-align: middle;

	transition: .5s all;
}

.main-menu-item {
	display: inline-block;
	width: 170px;
	height: 125px;
	line-height: 125px;
	text-decoration: none;
	font-size: 2em;
	color: white !important;
	padding: 0 1.5em;

	transition: all .5s;
	letter-spacing: .1em;
}

.main-menu-item:hover {
	letter-spacing: .25em;
	text-decoration: underline;
	color: #428cb2 !important;
}




/*  PAGE SLIDES/SECTIONS  */

.page-slide, .slide1 div {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	transition: .3s background-position ease-out;
}


.slide1 div {
	position: absolute;
	top: 0;
	left: 0;
}

.slide1-1 {
	background: url(images/back1.png) center no-repeat;
	background-size: 80vw;
	z-index: 10;
}

.slide1-2 {
	background: url(images/back2.gif) no-repeat;
	z-index: 9;	
}

.slide1-3 {
	background: url(images/back3.png) center no-repeat;
	z-index: 8;
}

.slide1-4 {
	background: url(images/back4.jpg) top;
	background-size: 100vw auto;
	z-index: 7;	
}

.slide1-5 {
	background: url(images/back5.png) center no-repeat;
	background-size: 100vw 100vh;
	z-index: 11;	
}

.moving-slide {
	background-position: -50px 46px;
	background-size: 110vw auto;	
}


.slide2 {
	background-color: black;
}

.slide3 {
	background-color: green;
}

.slide4 {
	background-color: blue;
}