<!DOCTYPE html>
<html>
<head>
	<title>KE Web Design</title>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
	<script type="text/javascript" src="scripts/script.js"></script>
	
	<link rel="stylesheet" type="text/css" href="styles/style.css" media="all" />
	<link href="https://fonts.googleapis.com/css?family=Jura:300" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<header id="header" class="header">
		<div class="header-filler"></div>
		<nav id="main-menu" class="main-menu">
			<a href="#about" class="main-menu-item">ABOUT</a>
			<a href="#work" class="main-menu-item">WORK</a>
			<div class="main-menu-item logo-container">
				<a href="#home">
					<svg id="main-menu-logo" class="logo main-menu-logo" width="282" height="316.49" enable-background="new 0 0 612 792" version="1.1" viewBox="0 0 281.99799 316.4902" xmlns="http://www.w3.org/2000/svg"><g stroke="#000"><circle class="circle" cx="141" cy="163.53" r="134" fill="none" stroke-miterlimit="10" stroke-width="16"/><path d="m166.51 233 105.82-30-11 29-131.11 31.242 58.754-158.79 29.356-4.453z"/><path d="m123.33 0.624-29.355 4.4531-56.557 152.85l-10.197 25.939-11 29 105.82-30-51.82 133 29.355-4.4531 58.754-158.79 7.8184-19.697 11.182-29.303-105.82 30zm17.764 138.21-7.7617 19.744-81.404 19.398 8.2168-20.043z"/></g></svg>
				</a>
			</div>
			<a href="#feed" class="main-menu-item">FEED</a>
			<a href="#contact" class="main-menu-item">CONTACT</a>
		</nav>
	</header>

	<div class="dark-border"></div>

	<div id="fullpage" class="fullPage">
		<section id="slide1" class="section page-slide slide1">
			<ul id="main-scene" class="main-scene">
				<li class="layer slide1-1" data-depth="0.00"></li>
				<li class="layer slide1-2" data-depth="0.05"></li>
				<li class="layer slide1-2-birds" data-depth="0.1">
					<img id="bird1" src="images/bird.svg" alt="A bird!" class="bird1">
					<img id="bird2" src="images/bird.svg" alt="Another bird!" class="bird2">
					<img id="bird3" src="images/bird.svg" alt="So many birds!" class="bird3">
				</li>
				<li class="layer slide1-3" data-depth="0.03"></li>
				<li class="layer slide1-4" data-depth="0.00"></li>
			</ul>
			<span class="more-arrow">
				<svg viewBox="0 0 100 50">
					<polyline points="0,0, 50,50 100,0" fill="none" stroke="white" stroke-width="3" />
				</svg>
			</span>				
		</section>

		<section id="slide2" class="section page-slide slide2">
			<div class="in-slide-container">
				<h1>L9K Design Studio is...</h1>
				<div class="profile-image-holder">
					<div id="profile-trigger" class="trigger"></div>
					<div id="kelly-image" class="profile-image kelly">
						<img src="images/k.png" alt=""><div class="name-label kelly">KELLY</div>
						<div class="profile-detail kelly">
							CODING/DESIGN
						</div>
					</div>
					<div id="eriya-image" class="profile-image eriya">
						<img src="images/e.png" alt=""><div class="name-label eriya">ERIYA</div>
						<div class="profile-detail eriya">
							ARTWORK/DESIGN
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="slide3" class="section fp-auto-height page-slide slide3">
			<div class="in-slide-container">
				<div class="placeholder">
					<h1>Past projects</h1>
					Look at all we've done!!! Accomplishments, achievements and awards, wow!
				</div>
				<ul class="project-list">
					<li class="project-li">Project 1</li>
					<li class="project-li">Project 2</li>
					<li class="project-li">Project 3</li>
					<li class="project-li">Project 4</li>
					<li class="project-li">Project 5</li>
					<li class="project-li">Project 6</li>
				</ul>
			</div>
		</section>

		<section id="slide4" class="section page-slide slide4">
			<div class="in-slide-container">			
				<div class="feed fb-placeholder">
					FACEBOOK!
				</div>
				<div class="feed twitter-placeholder">
					TWITTER!
				</div>
			</div>
		</section>

		<section id="slide5" class="section page-slide slide5">
			
		</section>
	</div>

	<div id="mobile-menu" class="mobile-menu">
		<ul>
			<li class="mobile-menu-item home"><a href="#home"><svg id="mobile-menu-logo" class="logo mobile-menu-logo" width="282" height="316.49" enable-background="new 0 0 612 792" version="1.1" viewBox="0 0 281.99799 316.4902" xmlns="http://www.w3.org/2000/svg"><g stroke="#000"><circle class="circle" cx="141" cy="163.53" r="134" fill="none" stroke-miterlimit="10" stroke-width="16"/><path d="m166.51 233 105.82-30-11 29-131.11 31.242 58.754-158.79 29.356-4.453z"/><path d="m123.33 0.624-29.355 4.4531-56.557 152.85l-10.197 25.939-11 29 105.82-30-51.82 133 29.355-4.4531 58.754-158.79 7.8184-19.697 11.182-29.303-105.82 30zm17.764 138.21-7.7617 19.744-81.404 19.398 8.2168-20.043z"/></g></svg>Home</a></li>
			<li class="mobile-menu-item"><a href="#work">Work</a></li>
			<li class="mobile-menu-item"><a href="#about">About</a></li>
			<li class="mobile-menu-item"><a href="#feed">Feed</a></li>
			<li class="mobile-menu-item"><a href="#contact">Contact</a></li>
			<li class="mobile-menu-item close">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.000000 291.000000">
					<g transform="translate(0.000000,291.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
					<path d="M1735 2040 l-280 -280 -275 275 c-151 151 -280 275 -285 275 -6 0 -77 -66 -158 -148 l-147 -147 275 -275 c151 -151 275 -279 275 -285 0 -5 -125 -135 -277 -287 l-277 -277 152 -153 151 -153 278 278 c153 152 283 277 288 277 6 0 134 -124 285 -275 l275 -275 147 147 c82 81 148 152 148 157 0 5 -124 133 -275 284 l-276 276 281 281 280 280 -153 153 -152 152 -280 -280z" id="node1" class="stroke-width="20"></path></g><g transform="translate(0.000000,291.000000) scale(0.100000,-0.100000)" fill="#989898" stroke="none"></g>
				</svg>CLOSE
			</li>
		</ul>
	</div>

	<div id="mobile-menu-trigger" class="mobile-menu-trigger">
		<div id="burger-icon">
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
	</div>

	<div id="profile-bio-kelly" class="profile-bio kelly">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.000000 291.000000" class="close-x">
			<g transform="translate(0.000000,291.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
			<path d="M1735 2040 l-280 -280 -275 275 c-151 151 -280 275 -285 275 -6 0 -77 -66 -158 -148 l-147 -147 275 -275 c151 -151 275 -279 275 -285 0 -5 -125 -135 -277 -287 l-277 -277 152 -153 151 -153 278 278 c153 152 283 277 288 277 6 0 134 -124 285 -275 l275 -275 147 147 c82 81 148 152 148 157 0 5 -124 133 -275 284 l-276 276 281 281 280 280 -153 153 -152 152 -280 -280z" id="node1" class="stroke-width="20"></path></g><g transform="translate(0.000000,291.000000) scale(0.100000,-0.100000)" fill="#989898" stroke="none"></g>
		</svg>
		<div class="profile-bio-inner">
			<h2>(George) Kelly Custer</h2>
			<ul class="profile-bio-list">
				<li>Born in Guam, grew up in Hawaii, currently living in Tokyo.</li>
				<li>Studied Computer Science at University of Hawaii.</li>
				<li>Loves family, friends, music, and video games.</li>
				<li>Favorite Programming Languages:
					<ul>
						<li>JavaScript</li>
						<li>C# .NET</li>
						<li>PHP</li>
					</ul>
				</li>
				<li>Contact Kelly directly on:
					<ul>
						<li>Facebook</li>
						<li>linkedIn</li>
						<li>GitHub</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div id="profile-bio-eriya" class="profile-bio eriya">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.000000 291.000000" class="close-x">
			<g transform="translate(0.000000,291.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
			<path d="M1735 2040 l-280 -280 -275 275 c-151 151 -280 275 -285 275 -6 0 -77 -66 -158 -148 l-147 -147 275 -275 c151 -151 275 -279 275 -285 0 -5 -125 -135 -277 -287 l-277 -277 152 -153 151 -153 278 278 c153 152 283 277 288 277 6 0 134 -124 285 -275 l275 -275 147 147 c82 81 148 152 148 157 0 5 -124 133 -275 284 l-276 276 281 281 280 280 -153 153 -152 152 -280 -280z" id="node1" class="stroke-width="20"></path></g><g transform="translate(0.000000,291.000000) scale(0.100000,-0.100000)" fill="#989898" stroke="none"></g>
		</svg>
		<div class="profile-bio-inner">
			<h2>Eriya Ikejiri / Eric Rossiter</h2>
			<ul class="profile-bio-list">
				<li>Born in Osaka, grew up in Osaka then Hawaii, currently living in Tokyo.</li>
				<li>Studied Graphic Design at University of Hawaii.</li>
				<li>Loves</li>
				<li>Contact Eriya directly on:
					<ul>
						<li>Facebook</li>
					</ul>
				</li>				
			</ul>
		</div>
	</div>	

</body>
</html>