<div class="profile-bio">
    <h2>Eriya Ikejiri / Eric Rossiter</h2>
    <h3>Artwork and Design</h3>
    <ul class="profile-bio-list">
        <li>Born in Osaka, grew up in Osaka then Hawaii, currently living in Tokyo.</li>
        <li>Studied Graphic Design at University of Hawaii.</li>
        <li>Loves Street Fighter, Spicy Food, Southeast Asia, Smash Bros, Sushi, Singing and Sketching</li>
        <li>Contact Eriya directly on:
            <ul class="profile-social-links">
                <li><a href="https://www.facebook.com/eric.rossiter"><img class="social-icon" src="images/F_icon.svg" alt="Eriya Facebook"></a></li>
                <li><a href="https://twitter.com/Eriya84?lang=en"><img class="social-icon" src="images/twitter_icon.svg" alt="Eriya Twitter"></a></li>
                <li><a href="https://www.instagram.com/eriya666/"><img class="social-icon" src="images/instagram_icon.svg" alt="Eriya Instagram"></a></li>
                <li><a href="http://ketsukusa.deviantart.com/"><img class="social-icon" src="images/deviantart_icon.svg" alt="Eriya Instagram"></a></li>                
            </ul>
        </li>				
    </ul>
</div>