<div class="profile-bio">
    <h2>(ジョージ) ケリー カスター</h2>
    <h3>プログラミングとデザイン</h3>
    <ul class="profile-bio-list">
        <li>グアム生まれハワイ育ち、現在東京暮らし</li>
        <li>ハワイ大学でコンピュータサイエンスを勉強</li>
        <li>大切なのは家族、友人、趣味は音楽、テレビゲーム</li>
        <li>現在学習しているプログラム：
            <ul>
                <li><a href="https://www.ecma-international.org/ecma-262/6.0/">ES6/ECMAScript 2015</a></li>
                <li><a href="https://facebook.github.io/react/">React</a> and <a href="http://redux.js.org/">Redux</a></li>
                <li><a href="https://nodejs.org/en/">Node.js</a>と<a href="https://www.npmjs.com/">npm</a>を通して利用可能なパッケージ</li>
                <li><a href="https://css-tricks.com/mega-list-svg-information/">SVG!!!</a> SVGがどれほど優れているのかを実感し、上達するよう勉強中</li>
            </ul>
        </li>
        <li>本職での経験：
            <ul>
                <li>C# .NET, MSSQL, IIS</li>
                <li>and LAMP (Linux, Apache, MySQL, PHP)</li>
            </ul>
        </li>        
        <li>こちらからＫｅｌｌｙに直接お問い合わせください：
            <ul class="profile-social-links">
                <li><a href="https://www.facebook.com/dphyled"><img class="social-icon" src="images/F_icon.svg" alt="Kelly Facebook"></a></li>
                <li><a href="https://www.linkedin.com/in/george-kelly-custer"><img class="social-icon" src="images/Linkedin_icon.svg" alt="Kelly LinkedIn"></a></li>
                <li><a href="https://www.github.com/dphyled"><img class="social-icon" src="images/github_icon.svg" alt="Kelly Github"></a></li>
                <li><a href="https://twitter.com/dphyled"><img class="social-icon" src="images/twitter_icon.svg" alt="Kelly Twitter"></a></li>
            </ul>
        </li>
    </ul>
</div>