<div class="profile-bio">
    <h2>(ジョージ) ケリー カスター</h2>
    <h3>プログラミングとデザイン</h3>
    <ul class="profile-bio-list">
        <li>グアム生まれハワイ育ち、現在東京暮らし</li>
        <li>ハワイ大学でコンピュータサイエンスを専攻</li>
        <li>大切なもの：家族、友人、趣味は音楽、テレビゲーム</li>
        <li>本職での経験：
            <ul>
                <li>C# .NET, MSSQL, IIS</li>
                <li>LAMP // Linux, Apache, MySQL, PHP</li>
                <li>CSS3 (SASS)</li>
                <li>JavaScript: ES6, jQuery, ReactJS, nodeJS</li>
                <li>Gulp, Grunt, Webpack</li>
                <li>Git, Subversion, VSS</li>
                <li>WordPress</li>
            </ul>
        </li>        
        <li>こちらからＫｅｌｌｙに直接お問い合わせください：
            <ul class="profile-social-links">
                <li><a href="https://www.facebook.com/dphyled"><img class="social-icon" src="images/F_icon.svg" alt="Kelly Facebook"></a></li>
                <li><a href="https://www.linkedin.com/in/george-kelly-custer"><img class="social-icon" src="images/Linkedin_icon.svg" alt="Kelly LinkedIn"></a></li>
                <li><a href="https://www.github.com/dphyled"><img class="social-icon" src="images/github_icon.svg" alt="Kelly Github"></a></li>
                <li><a href="https://twitter.com/dphyled"><img class="social-icon" src="images/twitter_icon.svg" alt="Kelly Twitter"></a></li>
            </ul>
        </li>
    </ul>
</div>