<h2>(George) Kelly Custer</h2>
<h3>Coding and Design</h3>
<ul class="profile-bio-list">
    <li>Born in Guam, grew up in Hawaii, currently living in Tokyo.</li>
    <li>Studied Computer Science at University of Hawaii.</li>
    <li>Loves family, friends, music, and video games.</li>
    <li>Favorite Programming Languages:
        <ul>
            <li>JavaScript</li>
            <li>C# .NET</li>
            <li>PHP</li>
        </ul>
    </li>
    <li>Contact Kelly directly on:
        <ul class="profile-social-links">
            <li><a href="https://www.facebook.com/dphyled"><img class="social-icon" src="images/F_icon.svg" alt="Kelly Facebook"></a></li>
            <li><a href="https://www.linkedin.com/in/george-kelly-custer"><img class="social-icon" src="images/linkedin_icon.svg" alt="Kelly LinkedIn"></a></li>
            <li><a href="https://www.github.com/dphyled"><img class="social-icon" src="images/github_icon.svg" alt="Kelly Github"></a></li>
        </ul>
    </li>
</ul>