<div class="profile-bio">
    <h2>池尻恵利也／エリックロシター</h2>
    <h3>アートワークとデザイン</h3>
    <ul class="profile-bio-list">
        <li>大阪で生まれ育ち、その後ハワイで15年在住。現在東京に住んでいる。</li>
        <li>ハワイ大学でグラフィックデザインを学びました。</li>
        <li>趣味・料理、カラオケ、描画</li>
        <li>得意なソフトウェア：Adobe Photoshop, Indesign, Premier etc.</li>
        <li>こちらからＥｒｉｙａに直接お問い合わせください：
            <ul class="profile-social-links">
                <li><a href="https://www.facebook.com/eric.rossiter"><img class="social-icon" src="images/F_icon.svg" alt="Eriya Facebook"></a></li>
                <li><a href="https://twitter.com/Eriya84?lang=en"><img class="social-icon" src="images/twitter_icon.svg" alt="Eriya Twitter"></a></li>
                <li><a href="https://www.instagram.com/eriya666/"><img class="social-icon" src="images/instagram_icon.svg" alt="Eriya Instagram"></a></li>
                <li><a href="http://ketsukusa.deviantart.com/"><img class="social-icon" src="images/deviantart_icon.svg" alt="Eriya Instagram"></a></li>                
            </ul>
        </li>				
    </ul>
</div>