<div class="profile-bio">
    <h2>Eriya Ikejiri / Eric Rossiter</h2>
    <h3>Artwork and Design</h3>
    <ul class="profile-bio-list">
        <li>Born in Osaka, grew up in Osaka then Hawaii, currently living in Tokyo.</li>
        <li>Studied Graphic Design at University of Hawaii.</li>
        <li>Loves Street Fighter, Spicy Food, Star Fox, and San Francisco. And Wallet Chains.</li>
        <li>Contact Eriya directly on:
            <ul class="profile-social-links">
                <li><a href="https://www.facebook.com/eric.rossiter"><img class="social-icon" src="images/F_icon.svg" alt="Eriya Facebook"></a></li>
            </ul>
        </li>				
    </ul>
</div>